#friend-display-link {
  display: block;
  text-align: center;
  width: 100%;
  background-color: #fafafa;
  padding: 10px 0px;
  font-size: 16px;
  margin-bottom: 10px;
}

#friend-display-link i {
  opacity: 20%;
  padding-left: 10px;
  padding-right: 5px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
