.welcome-header {
  margin: 85px 0px 60px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}
.welcome-header__text {
  width: 50%;
  opacity: 0.7;
  font-size: 15px;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  font-size: 18px;
  padding: 15px 0px;
  margin-bottom: 25px;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#login-form input:not([type="submit"]) {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
}
#login-form input:focus {
  border-color: rgba(0, 0, 0, 0.4);
}
#login-form input[type="submit"] {
  cursor: pointer;
  border-radius: 3px;
}
#login-form input[type="submit"]:hover {
  background-color: var(--yellow);
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  font-size: 15px;
}
#login-form a:hover {
  color: rgba(0, 0, 0, 0.8);
}
